* {
  margin: 0;
  padding: 0;
}
.contact > p {
  margin-bottom: 0.5em;
}
body {
  background-color: #2a4d69;
  color: #e7eff6;
  font-family: "Arial", "sans-serif";
}
header img {
  max-width: 100%;
}
.mainMenu > li:hover > a {
  color: #adcbe3;
}
a:link {
  text-decoration: none;
  color: #adcbe3;
}
a:visited {
  text-decoration: none;
  color: #adcbe3;
}
h1 {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3em;
  font-family: "Audiowide", cursive;
}
ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.fa {
  padding: 1.5em;
  width: 2em;
  text-align: center;
  text-decoration: none;
  margin: 0.5em 0.1em;
  border-radius: 50%;
  background: #3b5998;
  color: white;
}

.fa:hover {
  opacity: 0.7;
}
.all {
  width: 80%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  margin: 0 auto;
}

nav {
  grid-column: 1/13;
  position: sticky;
  top: 0;
  background-color: #2a4d69;
  padding: 0.5em;
  font-size: 1.2em;
}
footer {
  padding-top: 5em;
  grid-column: 1/13;
  display: flex;
  justify-content: space-between;
}
.hamIcon {
  display: none;
}
.validated-data {
  grid-column: 3/11;
  margin-top: 2em;
}

@media screen and (max-width: 992px) {
  h1 {
    font-size: 2em;
  }
}
  @media screen and (max-width: 768px) {
  footer {
      display: block;
    }
    .social {
      margin-top: 1em;
    }
     h1 {
    font-size: 1em;
    top: 10%;
  }
    .burg {
      width: 35px;
      height: 5px;
      background-color: black;
      margin: 0.5em 0;
    }
    .mainMenu {
      display: none;
    }
    .mainMenu.toggleCls {
      display: block;
    }
    .hamIcon {
      display: block;
    }
    nav {
      position: relative;
    }
  .mainMenu li {
    margin-top: 0.5em;
  }
}