.about-me, .myImg {
    margin: 2rem;
}
.name {
    margin-left: 2rem;
}
.aboutDiv {
    padding-top: 4rem;
}
.educDiv {
    padding-top: 5rem;
}
.educ {
    width: 100%;
}
th, td {
    padding: 1rem;
  }
#works,#contact {
      margin-left: 2rem;
  }
  #works {
      padding-top: 5rem;
  }
.web {
    margin-bottom: 4rem;
}
body {
    background-color: rgb(196, 187, 187);
}
.h2 {
    margin-bottom: 3rem;
}